<app-header xmlns="http://www.w3.org/1999/html"></app-header>
<div class="container">
 <h1>Ajout Un Utilisateur</h1>
  <div class="alert alert-danger" *ngIf="fakeAuth">
    <strong>Alert!</strong> L ' Utilisateur a bien enregistere!
  </div>
  <hr style="background-color: #C36464">
  <div class="row ">
  <div class="w-75">

      <form action="" class="form-group" [formGroup]="userForm" (ngSubmit)="onAdd()">
        <div class="form-group">
        <label>Nom:</label>
       <input type="text" class="form-control" name="nom" [(ngModel)]="nom" formControlName="nom">
        <span *ngIf="!userForm.get('nom').valid && userForm.get('nom').touched" class="text-danger">
            Please entre Un nom le champ et Vide</span>
        </div>
        <div class="form-group">
        <label>Prenom:</label>
       <input type="text" class="form-control" name="prenom" [(ngModel)]="prenom" formControlName="prenom">
          <span *ngIf="!userForm.get('prenom').valid && userForm.get('prenom').touched" class="text-danger">
            Please entre le Prenom le champ et Vide</span>
        </div>
          <div class="form-group">
        <label>Email:</label>
         <input type="email" class="form-control" name="email" [(ngModel)]="email" formControlName="email">
            <span *ngIf="!userForm.get('email').valid && userForm.get('email').touched" class="text-danger">
            Please entre Un email !!!!!!</span>
          </div>
        <div class="form-group">
        <label>Profile</label>
       <select formControlName="profiles" class="form-control">
         <option value="ADMIN">ADMIN</option>
         <option value="CM">CM</option>
         <option value="FORMATEUR">FORMATEUR</option>
       </select>
        <span *ngIf="!userForm.get('profiles').valid && userForm.get('profiles').touched" class="text-danger">
            Please choix le type de l' utilisateur</span>
  </div>
        <div class="input-group mb-3 mt-5" >
        <div class="input-group-prepend">

          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" name="avatar"
                 [(ngModel)]="avatar" (change)="uploadefiler($event)" formControlName="avatar" alt="img.png">
          <label class="custom-file-label" for="inputGroupFile01">Choose your image</label>

        </div>
  </div>
        <p [innerHtml]='msg' *ngIf="msg" style="color: red;"></p>
        <div class="d-flex justify-content-center mt-3 login_container">
          <button [disabled]="!userForm.valid" class="btn btn-primary ">Enregistere</button></div>
      </form>

    </div>
  <div class="w-25 " *ngIf="link">
         <img class="ml-5"  [src]="link" style="width: 300px; height: 300px; margin-top: 50px; border-radius: 50%">
  </div>
    <div class="w-25 " *ngIf="!link">
      <img src="assets/images/img.png" style="width: 300px; height: 300px; margin-top: 50px; border-radius: 50%">
    </div>
</div>
</div>
<app-footer></app-footer>
