
<div class="container">
  <h1>Ajout Un Promo</h1>
  <hr style="background-color: #C36464">
  <div class="row mt-5" style="">
    <div class="col-md-6 border">
      <form action="" class="form-group" [formGroup]="prmoForm" (ngSubmit)="onAdd()">
          <label >Choix un lanngue</label>
          <select  class="form-control w-50 "  >
            <option style="background-color: #C36464">Choix un un lanngue</option>
            <option value="fr" >Francais</option>
            <option value="en" >Englais</option>
            <option value="ar" >Arabe</option>
          </select>
        <label >Titre </label>&nbsp; a 100 caractérre
        <input  placeholder="choisir la titre la plus claire" class="form-control" type="text" name="titre"
                [(ngModel)]="title" formControlName="titre" required>

        <label >Déscription de la promotion </label>&nbsp; a 300 caractérres
        <textarea matInput placeholder="Ecrivez ic une description rapide ,simple et concue "
                  class="form-control"  Name="description" [(ngModel)]="description"
                  formControlName="description" required></textarea>
        <label >Lieu de la promotion </label>&nbsp; a 100 caractérre
        <input  placeholder="indiquez le region dans leguel se trouve la promotion " class="form-control"
                type="text" Name="lieu"  [(ngModel)]="lieu" formControlName="lieu" required>

        <label >Choix de la fabrique</label>
        <select  class="form-control w-50">
          <option style="background-color: #C36464">Choix un un lanngue</option>
          <option value="" >SONATEL ACCADEMIE</option>
          <option value= "">KOKI LA SOLUTION</option>
          <option value="" >SIMPLON</option>
          <option value="" >VOLKENO</option>
          <option value= "">KOKI LA SOLUTION</option>
        </select>
        <div class="row mt-3">
          <div class="w-50 d-flex justify-content-between">
            <label >Date de Debut</label>
            <label>
              <input type="date" name="date-debut" class="form-control" >
            </label>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <label >Date de Debut</label>
            <input type="date" name="date-fin" class="form-control">
          </div>
        </div>
        <label>Référentiel(s)</label>
       <div class="row mt-3">
         <div class="" style="height: 80px"  *ngFor="let list of referentils" >
          <input multiple class="" placeholder=" {{list.libelle}}"/>

         </div>

       </div>
        <div class="rox mt-4">
          <div class="w-100 h-100">
            <input type="file">

          </div>
        </div>

        <button type="button" class="btn btn-info w-50 mt-5 ml-5 btn-block">Soumettre</button>
      </form>

    </div>
    <div class="col-md-6">
      listes apprenants
    </div>
  </div>

</div>
<app-footer></app-footer>
