<app-header></app-header>
<div class="container">
  <form >
    <h1 style="text-align: center">Ajout un RéFérentiel</h1>
    <hr style="background-color: #C36464">
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <label >Libelle</label>
        <input matInput placeholder="votre nom" class="form-control" type="text" Name="libelle"  required>
        <label> Presentation</label>
        <input matInput placeholder="votre prenom" class="form-control" type="" type="text" Name="prenom"  required>
        <label>EMAIL</label>
        <input matInput placeholder="votre email" type="text" class="form-control" Name Name="email"  required>
        <div class="form-group col-md">
          <label>Compétences</label>
          <select  class="form-control">
            <option >Compétences...</option>
          </select>
        </div>
        <div class="form-group col-md-4">
        <label >Programme</label>
        <input matInput placeholder="programme" class="form-control" type="file" Name="programme"  required>
        </div>
          <label >Critères d'évaluation</label>
        <input matInput placeholder="Critères d'évaluation" class="form-control" type="text" Name="programme"  required>
        <label >Critères d'admission</label>
        <input matInput placeholder="Critères d'admission" class="form-control" type="text" Name="criterAdmission"  required>

        <button type="button" class="btn btn-info w-50 mt-4 ml-md-5 btn-block">Soumettre</button>
      </div>
      <div class="col-md-2"></div>
      <div>
      </div>
    </div>

  </form>
</div>
<app-footer></app-footer>

