<app-header></app-header>
  <div class="container">

      <h1 class="page-head-line">Liste des Competences
        <a [routerLink]="['/competence/add']"style="float: right"> <i class="fas fa-user-plus" style="color: #C36464"></i></a></h1>
    <div class="row  border 12px">

        <div class="col-4 border">
          <select  class="form-control">
            <option >Développer le front d'une application</option>
          </select>
          <p class="scorel">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsum laborum
            veniam! Atque commodi corporis, distinctio dolore dolorem dolores eos explicabo id maxime,
            nihil obcaecati quasi saepe sint veniam veritatis, voluptate voluptatibus. Aliquid aperiam
            architecto asperiores consequuntur culpa delectus deleniti doloribus, eaque eos excepturi
            facilis harum illo impedit iste iusto laborum magni maiores obcaecati omnis porro similique
            sunt suscipit totam vero voluptate. Adipisci error impedit necessitatibus. Itaque iusto laboriosam *
            neque! Accusantium ad, adipisci aliquam asperiores aspernatur cumque distinctio earum eius est ex
            exercitationem facere harum id ipsa laborum magnam maiores modi mollitia nam necessitatibus nobis
            non odit pariatur perferendis placeat quaerat quasi quibusdam quisquam recusandae rem repellat
            repellendus sit tenetur velit veniam vitae voluptatum. doloremque
            ducimus est eveniet ex fugiat laborum nesciunt non officia omnis perspiciatis provident quam
            Beatae consequuntur iste, iure libero placeat praesentium repellat reprehenderit sed!

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et impedit iure omnis quis ut veritatis
          voluptatem. Amet animi, at deserunt distinctio dolor, fuga ipsa
          iste odit quae repudiandae soluta velit! Architecto cum dolores earum id voluptatum. Asperiores quis,
          vero?
          </p>
        </div>
        <div class="col-8">
          <div class="row ">
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
                      aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">
                Toggle both elements</button>
            </p>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                    terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident.
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div >
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
<!--             <p> Groupe d'actions à réaliser</p>-->
<!--              A partir d'un schéma physique-->
<!--              de données et dans le contexte-->
<!--              d'un besoin client décrit, créer-->
<!--              une base de don-->


<!--              <p>Critères d'évaluation</p>-->
<!--              La BD est créée à l'aide d'un-->
<!--              script sans erreur et les-->
<!--              données sont insérées à l'aide-->
<!--              d'un script sans erreur-->

          </div>
        </div>

    </div>

</div>
<app-footer></app-footer>
