<app-header></app-header>
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">List des référentiels
          <a [routerLink]="['/referentiele/add']"style="float: right"> <i class="fas fa-user-plus" style="color: #C36464"></i></a></h1>
      </div>
    </div>
    <hr style="background-color: #C36464; ">
    <table class="border">
      <thead class="">
   <tr >
        <div class="row">
           <div class="col-6 mt-4" *ngFor="let ref of referentiel">
             <div class="card" style="">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle: <p>{{ref.libelle}}</p></span>
                   <span> <a [routerLink]="['/referentiele/edit/',ref.id]"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                 </p>
               </div>
               <div style="height: 100px">
                 <span>
               Presentation: <p>{{ref.presentation}}</p></span>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences:{{ref.grpecompetence}}</li>
                 <li class="list-group-item">Programme: <p src="data:image/jpeg;base64,{{ref.programme}}"></p> </li>
                 <li class="list-group-item">Critère d'évaluation: <p>{{ref.evaluation}}</p></li>
                 <li class="list-group-item">Critère d'admission: <p>{{ref.admission}}</p></li>
               </ul>
             </div>
          </div>
        </div>
</tr>
      </thead>

    </table>
  </div>
</div>
<app-footer></app-footer>
