<app-header></app-header>
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">List des référentiels
          <a [routerLink]="['/referentiele/add']"style="float: right"> <i class="fas fa-user-plus" style="color: #C36464"></i></a></h1>
      </div>
    </div>
    <hr style="background-color: #C36464; ">
    <table class="border">
      <thead class="">
<tr>
        <div class="row">
           <div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash" ></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div><div class="col-4 mt-4">
             <div class="card" style="width: 18rem">
               <div class="card-body">
                 <h5 class="card-header d-flex justify-content-between"> <span>Libelle</span>
                   <span> <a [routerLink]="['/referentiele/edit']"><i class="fas fa-pencil-alt"></i> </a> &nbsp;
                     <a [routerLink]="['/referentiele/edit']"><i class="fas fa-trash"></i> </a></span></h5>
                 <p class="text-dark">
                  Presentation
                 </p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Groupe de compétences</li>
                 <li class="list-group-item">Programme</li>
                 <li class="list-group-item">Critère d'évaluation</li>
                 <li class="list-group-item">Critère d'admission</li>
               </ul>
             </div>
          </div>
        </div>
</tr>
      </thead>

    </table>
  </div>
</div>
<app-footer></app-footer>
